<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List | What's next?</title>
	<link href="base.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
	<input type="text" placeholder="Go shopping..." id="txt" name="add" autofocus="autofocus" />
	<input type="submit" id="btn" value="Add" />
	<input type="button" id="clr" value="Clear" />
</header>
<section>
	<ul id="todo" name="todo">
		<% for(var c in data) {%>
		<li id="<%= data[c]._id %>"><%= data[c].content %><span id="creationDate"><%= data[c].date %></span></li>
		<% } %>
	</ul>
</section>
<script src="jquery-2.2.0.min.js"></script>
<script src="base.js"></script>
</body>
</html>