<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login | Todo List</title>
	<link href="styles/login.css" rel="stylesheet" type="text/css" />
	<script src="//use.edgefonts.net/nova-mono;knewave.js"></script>
</head>
<body>
	<header>
		<div id="snackbar"></div>
	</header>
	<section>
		<form method="POST" action="/login" id="form">
			<h1>Sign in</h1>
			<input type="text" name="username" placeholder="Username" id="username" />
			<input type="password" name="password" placeholder="Password" id="password" />
			<input type="submit" value="login" id="submit" />
			<span>
				<p>Don't have an account?</p>
				<a href="/register">Create account</a>
			</span>
		</form>
	</section>
<script src="scripts/loLogin.js"></script>
<script>
	<% if (typeof(error) != "undefined") {%>
	genErr(['<%= error %>']);
	<% } %>
</script>
</body>
</html>