<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login | Todo List</title>
	<link href="base.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<section>
		<h1>Login</h1>
		<form method="POST" action="/login">
			<input type="text" name="username" placeholder="username" />
			<input type="password" name="password" placeholder="password" />
			<input type="submit" value="login" />
		</form>
	</section>
<script src="base.js"></script>
</body>
</html>