<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register | Todo List</title>
	<link href="styles/register.css" rel="stylesheet" type="text/css" />
	<script src="//use.edgefonts.net/nova-mono;knewave.js"></script> 
</head>
<body>
	<header>
		<div id="snackbar"></div>
	</header>
	<section>
		<form method="POST" action="/register" id="form">
			<h1>Create Account</h1>
			<input type="text" name="firstName" placeholder="First name" id="firstName" />
			<input type="text" name="username" placeholder="Username" id="username" />
			<input type="email" name="email" placeholder="Email" id="email" />
			<input type="password" name="password" placeholder="Password" id="password" />
			<input type="password" name="conPassword" placeholder="Re-enter password" id="conPassword" />
			<input type="submit" value="register" id="submit" />
			<span>
				<p> Already have an account?</p>
				<a href="/login">Sign in</a>
			</span>
		</form>
		</form>
	</section>
<script src="scripts/loRegister.js"></script>
<script>
	<% if (typeof(error) != "undefined") {%>
	genErr(['<%= error %>']);
	<% } %>
</script>
</body>
</html>