<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Todo List | What's next?</title>
	<link href="styles/base.css" rel="stylesheet" type="text/css" />
	<script src="//use.edgefonts.net/nova-mono;knewave.js"></script> 
</head>
<body>
	<header>
		<h1 id="user">Logged as: <%= user.username %></h1>	
		<nav>
			<ul id="nav">
				<li><a href="/dashboard/">Tasks</a></li>
				<li><a href="/dashboard/logout">Logout</a></li>
			</ul>
		</nav>
	</header>
	<section>
		
	</section>
	<script src="scripts/base.js"></script>
</body>
</html>