@charset "utf-8";

header, section, footer, aside, nav, main, article, figure {
	display: block;
}
body {
	margin: 0;
	padding: 0;
}
header {
	position: relative;
	width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 4em;
	left: 0.8em;
}
header input#txt, header input#btn, header input#clr {
	position: relative;
	display: block;
}
header input#txt {
	width: 38em;
	color: #999;
	text-shadow: 0em 0.06em #333;
	font-style: italic;
	padding: 1em 1.5em;
	font-size: 0.9em;
	line-height: 3em;
	margin-left: auto;
	margin-right: auto;
	border-color: transparent;
	border-top-width: 0.8em;
	border-top-color: #999;
	background-color: rgba(0, 0, 0, 0.03);
}
header input#btn, header input#clr, header input#btn:visited, header input#clr:visited {
	display: inline;
	padding: 1em 2em;
	top: 1em;
	border: 0;
	color: #333;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #FF6666;
	text-shadow: 0.05em 0.05em #999;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}
header input#btn:hover, header input#clr:hover {
	color: #FF6666;
	background-color: #333;
	transition: color 0.3s ease-in-out 0s, border-bottom-color 0.3s ease-in-out 0s;
}
header input#btn:focus, header input#clr:focus {
	color: #999;
	
	transition: color 0.3s ease-in-out 0s, border-bottom-color 0.3s ease-in-out 0s;
}
header input#btn {
	margin-right: 0.7em;
}
section {
	position: relative;
	width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	top: 12em;
}
section ul#todo li {
	margin-top: 0.5em;
	padding: 1.5em;
	font-size: 1.3em;
	color: #FF6666;
	background-color: #333;
	font-weight: bold;
	font-style: italic;
	list-style-type: upper-roman;
	text-align: justify;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
section ul#todo li span {
	position: relative;
	color: #FFF;
	font-size: 0.6em;
	left: 70%;
	top: 2em;
}
section ul#todo li:first-letter {
	text-transform: capitalize;
}
.menu {
	position: absolute;
	width: 7em;
	height: 5em;
	background-color: #FF6666;
	box-shadow: 0em 0em 2em #000;
}
.menu ul {
	position: relative;
	font-size: 0.85em;
	font-family: Impact, Charcoal, sans-serif;
	top: -0.2em;
	text-align: center;
}
.menu ul li {
	color: #222;
	cursor: pointer;
	position: relative;
	list-style-type: none;
	display: block;
	left: -2.95em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 8.25em;
}
.menu ul li:hover {
	background-color: #999;
}
@media all and (max-width: 800px) {
	header {
		top: 1em;
		width: 80%;
		font-size: 0.9em;
	}
	header input#txt {
		font-size: 0.8em;
		width: 90%;
		margin: auto;
	}
	header input#btn, header input#clr, header input#btn:visited, header input#clr:visited {
		font-size: 0.8em;
	}
	section {
		width: 100%;
		margin: auto;
		top: 5em;
	}
	section ul#todo li {
		position: relative;
		font-size: 0.9em;
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		left: -2%;
	}
	section ul#todo li span {
		font-size: 0.7em;
	}
}
@media all and (max-width: 500px) {
	header {
		top: 1em;
		font-size: 0.8em;
	}
	header input#txt {
		font-size: 0.7em;
	}
	header input#btn, header input#clr, header input#btn:visited, header input#clr:visited {
		font-size: 0.7em;
	}
	section {
		width: 93%;
		top: 3em;
	}
	section ul#todo li {
		font-size: 0.7em;
		width: 100%;
		left: -11%;
	}
	section ul#todo li span {
		left: 60%;
	}
	.menu {
		width: 5em;
		height: 3.5em;
		box-shadow: 0em 0em 1em #000;
	}
	.menu ul {
		font-size: 0.6em;
	}
	.menu ul li {
		width: 5em;
		left: -2.3em;
	}
}