@charset "utf-8";

header, section, footer, aside, nav, main, article, figure {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #F3F3F3;
}
header {
	position: relative;
	width: 40em;
	margin: auto;
	background-image: url("../images/hmalch.png");
	background-repeat: no-repeat;
	background-size: 4em;
	position: left top;
	height: 4em;
	background-color: #2DBE60;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
header h1 {
	font-family: nova-mono, sans-serif;
	display: inline;
	position: relative;
	left: 5em;
	top: 1.7em;
	font-size: 0.9em;
	color: #FFF;
	text-shadow: 0.05em 0.05em 0.05em #FFF;
}
header nav {
	position: relative;
	float: right;
}
header nav li {
	display: inline;
	list-style-type: none;
}
header nav li a {
	font-family: knewave, fantasy;
	text-decoration: none;
	padding: 1em;
	line-height: 2em;
	color: #FFF;
	cursor: pointer;
}
header nav li a:hover {
	color: #F3F3F3;
	transition: color 0.5s ease;
}
section {
	position: relative;
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
section input#tsk {
	display: block;
	position: relative;
	font-family: nova-mono, sans-serif;
	color: #6A6A6A;
	background-color: transparent;
	border: 0;
	width: 100%;
	border-bottom: 0.2em solid #2DBE60;
	height: 4em;
}
section input#submit, section input#clr {
	font-family: knewave, fantasy;
	display: inline-block;
	position: relative;
	top: 1.5em;
	width: 10em;
	-webkit-border-radius: 1.5em;
	-khtml-border-radius: 1.5em;  
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
	line-height: 2em;
	background-color: #2DBE60;
	border: 0.1em solid #2DBE60;
	color: #FFF;
	cursor: pointer;
}
section input#submit:hover, section input#clr:hover {
	color: #2DBE60;
	background-color: #FFF;
	transition: background-color 1s ease, color 0.5s linear;
}
section input#submit:focus, section input#clr:focus {
	color: #2DBE60;
	background-color: #FFF;
}
section input#submit {
	margin-right: 0.7em;
}
section div {
	position: relative;
	top: 5em;
	left: -1em;
	width: 100%;
	margin-top: 0.5em;
	font-family: nova-mono, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
section ul#todo div li {
	line-height: 4em;
	padding: 0 1em;
	font-size: 1.2em;
	color: #FF6666;
	background-color: #333;
	list-style-type: upper-roman;
	text-align: justify;
}
section ul#todo div span {
	position: absolute;
	color: #FFF;
	font-size: 0.7em;
	left: 2em;
	top: 5em;
}
section ul#todo div button {
	display: block;
	position: relative;
	top: -6.47em;
	border: 0;
	border-radius: 0;
	line-height: 3.23em;
	float: right;
	clear: both;
	width: 5em;
	cursor: pointer;
	font-family: knewave, fantasy;
	background-color: #F3F3F3;
}
section ul#todo div button:hover {
	color: #F3F3F3;
	background-color: #333;
}
section ul#todo div li:first-letter {
	text-transform: capitalize;
}
@media all and (max-width: 640px) {
	header {
		width: 100%;
		font-size: 0.8em;
	}
	header nav li a {
		padding: 0.8em;
	}
	header h1 {
		top: 1.45em;
	}
	section {
		width: 100%;
	}
	section input#tsk {
		width: 99%;
		margin: auto;
		font-size: 0.7em;
	}
	section input#submit, section input#clr {
		font-size: 0.7em;
	}
	section ul#todo div {
		top: 3em;
	}
	section ul#todo div li {
		position: relative;
		width: 100%;
		list-style-type: none;
		left: -1.3em;
		font-size: 0.9em;
	}
	section ul#todo div span {
		font-size: 0.6em;
		top: 4.2em;
		left: 0;
	}
	section ul#todo div button {
		font-size: 0.6em;
		top: -6em;
		line-height: 3em;
		border-radius: 0;
		right: -1.2em;
	}
}